@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    min-height: 70vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/contact.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 80px;

}

form{
    padding: 50px 80px 85px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: #D9D9D9;
    
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}
div{
  display: flex;
    flex-direction: column;
    text-align: left;
}


h2 {
    color:black;
    font-size: 35px;
    margin: 0;
}

p{
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}

.line{
    display: inline-block;
    width: 50px;
    height: 7px;
    background-color: #1E5393;
}

label {
    color:black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input{
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: black;
    outline: none;
}



button{
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: black;
    outline: none;
}
input::placeholder {
    color: #817e7e;
}

.form.txt{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form.txt a {
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn{
    font-size: 20px;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    background-color: #1E5393;
    cursor: pointer;
}    

.btn a{
    color: #ffffff;
    text-decoration: none;
}


@media(max-width:991px) {

    body{
        padding: 30px;
    }

    form{
        padding: 30px;
        width: 100%;
    }

    input{
        padding: 15px 10px;
    }
    
    input{
        padding: 15px 10px;
    }
}