@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #004080;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar .logo {
    width: 50%;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}


.add-button {
    display: inline-block;
    padding: 1rem 1rem;
    background-color: #3c6fa3;
    margin-top: 2rem; 
    border-width: 1px;
    margin-bottom: 30px;
    margin-left: -410px;
}

.o{
    color: #ddd;
    text-decoration: none;
}

.add-button:hover {
    background-color: #345a80;
}

.dashboard {
    width: 220%;
    margin: 2rem auto;
    margin-left: 20px;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dashboard h1 {
    text-align: center;
    margin-bottom: 1rem; 
}

.invoice-meta p {
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem; 
}

table th, table td {
    padding: 0.5rem;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #3c6fa3;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.menu-dashboard {
    width: 150px;
    background: var(--bg-menu);
    padding: 20px;
    transition: width .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu .logo {
    display: flex;
    align-items: center;
}

.top-menu .logo img {
    width: 100px;
    transition: width .3s ease;
}

.top-menu .logo span {
    font-size: 20px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 35px;
}

.input-search {
    width: 100%;
    margin: 50px 0;
    background-color: var(--azul-opacidad);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.input-search i {
    font-size: 30px;
    margin-right: 20px;
}

.input-search input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    color: var(--blanco);
    font-size: 22px;
    display: none;
}

.menu-enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
}