.pie-pagina{
    width: 100%;
    background-color: #3c6fa3;
}

.pie-pagina.grupo-1{
    width: 100%;
    max-width: 1200;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina.grupo.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina.grupo.box figure img{
    width: 250px;
}
.pie-pagina.grupo.box h2{
    color: #ffff;
    margin-bottom: 25px;
    font-size: 20px;    
}

.pie-pagina.grupo.box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina.grupo-1.box red-social{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45%;
    line-height: 45px;
    color: #ffff;
    margin-right: 10px;
    background-color: #3c6fa3;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina.grupo-1.red-social a :hover{
    color: aqua;
}

.pie-pagina.grupo-2{
    background-color: #3c6fa3;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina.grupo-2 small{
    font-size: 15px;
}

@media screen  and (max-widht:800px){
    .pie-pagina.grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    }
}