body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #ffff;
    color: rgb(0, 0, 0);
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  form {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #2E3A87;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2E3A87;
  }
  
  .container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .sidebar {
    background-color: #2E3A87;
    color: white;
    padding: 20px;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo img {
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    width: 100%; 
  }
  
  nav ul li {
    margin: 10px 0;
    text-align: center;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .content {
    flex-grow: 1;
    position: relative; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://media.istockphoto.com/id/149426742/es/foto/bordado-m%C3%A1quina-industrial.jpg?s=612x612&w=0&k=20&c=lDL6fYhcaHZjAjzsLsMVknugkeNxm9qH577VTah3kcA=");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .content-inner {
    position: relative; /* Necesario para asegurar que el overlay esté por debajo de este contenido */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  
  .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Ajusta el color y la opacidad aquí */
    z-index: 1; /* Asegura que el overlay esté detrás del contenido */
  }
  
  .content-inner {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté sobre el overlay */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    font-size: 16px;
    background-color: #f2f2f2;
  }
  